html {
  /* height: 100vh; */
}

body {
  font-family: aldrich, 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  background-color: darkslateblue;
  margin: 0;
  height: 100vh;
}

div {
  display: flex;
  flex: 1 1 auto;
}

button {
  flex: 1 1 0;
  margin: 10px;
  border: 3px double gray;
  border-radius: 10px;
  box-shadow: inset -2px -2px 10px gray;
}
.darkened { /*for won levels*/
  background-color: rgb(150, 150, 150);
  border: none;
  box-shadow: inset 2px 2px 10px black;
}

a {
  text-decoration: none;
  color: cadetblue;
}
a:hover {
  color: white;
  text-shadow: 0 0 5px yellow;
}

.content {
  flex-direction: column;
  max-width: 750px;
  min-width: 350px;
}

/* - - - header - - - */
header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  flex: 4 1 0;
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 5px black;
  color: rgb(220, 220, 220);
  margin: 0;
}
header h1:hover{
  text-shadow: 0 0 5px yellow;
}
header p {
  flex: 1 1 0;
  font-size: 15px;
  color: rgb(220, 220, 220);
  text-align: end;
}

/* - - - play area - - - */

/* - - - top - - - */

.top {
  flex: 0 1 auto;
}

.moves,
.gameMode,
.level {
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.displayTitle {
  color: white;
  text-shadow: 0 0 5px black;
  margin: 5px;
}

.displayMoves,
.displayGamemode,
.displayLevel {
  color: white;
  text-shadow: 0 0 5px black;
  margin: 0px;
}

/* - - - middle - - - */

.middle {
  align-items: center;
  justify-content: center;
}

/* - - - board - - - */

.board {
  flex-direction: column;
  flex: 1 1 auto;
  border: 1px solid gray;
  aspect-ratio: 1 / 1;
  max-width: 630px; /*prevents overflow*/
  margin: 10px;
}

.tile {
  border: 1px solid rgb(50, 50, 50);
  flex: 1 1 0;
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0 0 50px black;
  transition: 150ms;
}

.tile:hover {
  border-color: gray;
}

.active {
  background-color: white;
  border-color: yellow;
  box-shadow: inset 0 0 5px yellow;
  transition: 300ms;
}

/* - - - Level selection - - - */


.GameModes {
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  padding: 0 5px;
}

.NormalLevelsList {
  flex: 10 1 auto;
  flex-flow: row wrap;
}

.divOtherGameModes {
  flex-direction: column;
}

.normalLevel { /*generated buttons*/
  flex: 0 0 auto;
  width: 75px;
  height: 50px;
  margin: 5px;
}

.placeholder {
  flex-direction: column;
  align-items: center;
}

/* - - - win message - - - */

.winMessage{
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 10px rgb(33, 25, 60);
}

/* - - - buttons at bottom - - - */

.bottom {
  flex: 0 1 auto;
  flex-direction: column;
}

.hidden {
  display: none;
}

.divAbout,
.divHowToPlay {
  box-shadow: inset 0 0 15px black;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

/*testing*/
** {
  box-shadow: inset 0 0 1px wheat;
}